<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flutter Dash</title>
    <link rel="stylesheet" href="./src/css/flutter.css">
</head>
<body>
    <script src="flutter.js"></script>
    <nav class="navbar ">
        <svg width="43" height="52" viewBox="0 0 43 52" fill="#02569B" xmlns="http://www.w3.org/2000/svg">
            <path d="M42.021 24.0026L28.017 37.9998L42.021 52H26.0125L20.0113 46.0016L12.0056 37.9998L26.0125 24.0026H42.021ZM26.0125 0L0 26L8.00574 34.0019L42.021 0H26.0125Z"/>
          </svg>

    <div class="Flutter">Flutter</div>
<div class="page">
    <!--section 1-->
    <div class="rectangle"  style="align-items : start;justify-content:start">
        <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: start;  ">
            <div style="display: flex; flex-direction: column; justify-content: space-evenly; align-items: start; " class="container">
                <div class="dash">
                    <h1>Dash FlutterFiesta 2024</h1>
                </div>
                <div class="text">
                    Get ready to witness the convergence of</br> 
                    innovation, inspiration, and the unmistakable</br> 
                    charm of Dash at "FlutterFiesta 2023"!</br><br>
                    We are thrilled to welcome you to a celebration </br>
                    where the boundaries of technology Dissolve,</br>
                    and the future unfolds with boundless</br> 
                    possibilities
                </div>
        <button class="btn2" onclick="location.href='#target2'" >
             <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                <polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon>
            </svg> More
        </button>
         </div>
        <div style="height: auto; width: 50%; min-width: 200px; ">
            <img src="flutter.png" alt="flutter">
        </div>
    </div>
    </div>



    <!--Section 2-->
       <div class="rectangle" id="target2" style="background:  #fff ; height: 50vh;" >
        <div style="display: flex; flex-direction: row; justify-content: space-evenly; align-items: center; width: 100%;">
            <div class="item"> <img src="clock.svg" alt="clock" ><div>08:30 AM</div> </div>
            <div class="item"> <img src="location.png" alt="location" ><div>Esi, Oued Smar</div> </div>
            <div class="item"> <img src="agenda.png" alt="agenda"><div>01-01-2024</div> </div>
        </div>
 
    <button class="btn1" onclick="location.href='#target2'">
        REGISTER NOW!
    </button>
       </div>



       <!--Section 3-->
       <!--Use grid here -->
    <div id="target2" class="rectangle" >
        <div class="columns2">
            <div class="clmn21">
        <div class="column">
        <div class="coolinput">
            <label for="firstName" class="text">Your First Name *</label>
            <input type="text" placeholder="Write here..." name="firstName" class="input">
        </div>
        
        <div class="coolinput">
            <label for="lastName" class="text">Your Last Name *</label>
            <input type="text" placeholder="Write here..." name="lastName" class="input">
        </div>
        
        <div class="coolinput">
            <label for="email" class="text">Your Email *</label>
            <input type="email" placeholder="Write here..." name="email" class="input">
        </div>
        </div>
        <div class="column">
        <div class="coolinput">
            <label for="phoneNumber" class="text">Your Phone Number *</label>
            <input type="tel" placeholder="Write here..." name="phoneNumber" class="input">
        </div>
        
        <div class="coolinput">
            <label for="company" class="text">Your Company *</label>
            <input type="text" placeholder="Write here..." name="company" class="input">
        </div>
        
        <div class="coolinput">
            <label for="flutterExperience" class="text">Your Flutter Experience Level *</label>
            <input type="text" placeholder="Write here..." name="company" class="input">

        </div>
        </div>
    </div>
    <div class="clmn22">
        <div class="flutterimg">
            <img src="desk-flutter.png" alt="desk-flutter" >
        </div>
    </div>
</div>
<div class="sbmt">
        <button  class="btn1" onclick="location.href='#target2'">
            SUBMIT
        </button>
    </div>
    </div>
    
    <div class="rectangle">
        <div class="by">
            <div class="byflutter"> <img src="byflutter.png" alt="byflutter">
            </div>
        <div class="txtby">Thank You for</br>
             Registering with</br> Dash FlutterFiesta </br>
             2024!</div>
       </div>
</div>
</div>
</body>
</html>